// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin-page {
    padding-top:0px;
}

.d {
    margin-top:2px;
}

.nested-comment {
    margin-top: 25px !important;
}

.comment-reply {
    display:none;
}